{
  "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
  "icon" : "/interface/scripted/bigfatties/infusion/icon.png",
  "title" : "Infusion Table",
  "subtitle" : "Reset Big Fatties",
  "message" : "Are you sure you want to reset?\n\nYou'll lose the following: \n- All unlocked skills\n- All XP acquired \n- Any weight gained.",
  "okCaption" : "Yes",
  "cancelCaption" : "No",
  "images" : {
    "portrait" : []
  }
}
