{
  "paneLayout" : "/interface/windowconfig/voreconfirmation.config:paneLayout",
  "icon" : "/interface/confirmation/voreicon.png",
  "title" : "Someone's hungry!",
  "subtitle" : "<player> is trying to swallow you whole!",
  "message" : "<player> is aching to give you an express trip down into their belly. Fortunately, you have a chance to get away.\n\nDo you let them eat you?",
  "okCaption" : "Sure",
  "cancelCaption" : "Not now",
  "images" : {
    "portrait" : []
  }
}
