{
	"compatibleSpecies": [
		"apex",
		"avali",
		"avian",
		"cowbrid",
		"fenerox",
		"floran",
		"glitch",
		"harpy",
		"human",
		"hylotl",
		"novakid",
		"shadow",
		"throg"
	],
	"settings": {
		"threshholds" : {
			"stomach": [
				{"name" : "saturated", "amount": 30},
				{"name" : "stuffed", "amount": 40},
				{"name" : "packed", "amount": 60},
				{"name" : "glutted", "amount": 80},
				{"name" : "filled", "amount": 100},
				{"name" : "gorged", "amount": 150}
			],
			"breasts": [
				{"name" : "busty", "amount": 20},
				{"name" : "milky", "amount": 30}
			]
		},
		"maxWeight": 10000,
		"stats": {
			"digestion": {"base": 1, "increase": 0.05, "maxLevel": 20, "maxValue": 10, "pretty": "Digestion speed"},
			"absorption": {"base": 0.25, "increase": 0.0125, "maxLevel": 20, "pretty": "Food absorption"},
			"health": {"base": 0.5, "increase": 0.025, "maxLevel": 20, "pretty": "Bonus health"},
			"movement": {"base": 1, "increase": 0.01, "maxLevel": 20, "invertDescriptor": true, "pretty": "Movement penalty"},
			"capacity": {"base": 1, "increase": 0.05, "maxLevel": 20, "pretty": "Stomach capacity"},
			"fallDamageReduction": {"base": 0, "increase": 0.1, "maxLevel": 5, "maxValue": 1, "invertDescriptor": true, "pretty": "Bonus fall damage"},
			"healing": {"base": 1, "increase": 0.1, "maxLevel": 5, "maxValue": 3, "pretty": "Digestion healing"},
			"metabolism": {"base": 0.125, "increase": 0, "maxLevel": 0, "pretty": "Weight loss"},
			"experienceMultiplier": {"base": 1, "increase": 0, "maxLevel": 0, "pretty": "Experience gain"},
			"metabolismReduction": {"base": 1, "increase": -0.1, "maxLevel": 5, "invertValue": true, "pretty": "Weight retention"},
			"gurgleRate": {"base": 1, "increase": 0.4, "maxLevel": 5, "pretty": "Gurgle rate"},
			"gurgleAmount": {"base": 1, "increase": 0.10, "maxLevel": 3, "pretty": "Gurgle amount"},
			"bloatDigestion": {"base": 1, "increase": 0.1, "maxLevel": 5, "pretty": "Bloat digestion speed"},
			"bloatReduction": {"base": 1, "increase": -0.1, "maxLevel": 3, "negative": true, "pretty": "Bloating"},
			"struggleResistance": {"base": 0, "increase": 0.15, "maxLevel": 5, "invertDescriptor": true, "pretty": "Prey struggling"},
			"voreDamage": {"base": 1, "increase": 0.4, "maxLevel": 5, "pretty": "Prey digestion speed"},
			"regurgitateChance": {"base": 0, "increase": 0.1, "maxLevel": 4, "pretty": "Item regurgitation"},
			"iceResistance": {"base": 0, "increase": 0.1, "maxLevel": 3, "pretty": "Ice protection"},
			"strainedThreshhold": {"base": 1.25, "increase": 0.25, "maxLevel": 3, "pretty": "Strained threshhold"},
			"strainedResistance": {"base": 1, "increase": -0.1, "maxLevel": 5, "invertDescriptor": true, "pretty": "Strained penalty"},
			"firePenalty": {"base": 3, "increase": -1, "maxLevel": 3, "invertValue": true, "pretty": "Fire penalty"},
			"breastProduction": {"base": 0, "increase": 0.1, "maxLevel": 5, "maxValue": 1, "pretty": "Milk production"},
			"breastCapacity": {"base": 1, "increase": 1, "maxLevel": 5, "pretty": "Milk capacity"}
		},
		"statusEffectModifiers": {
			"multipliers": {
				"digestion": {
					"intents": 1.1,
					"bed1": 1.1,
					"bed2": 1.2,
					"bed3": 1.3,
					"bed4": 1.4,
					"bed5": 1.5
				},
				"absorption": {
					"foodpoison": 0.5
				},
				"metabolism": {
					"treadmill": 60
				},
				"healing": {
					"foodpoison": 0
				},
				"bloatDigestion": {
					"erchiusbloat": 0,
					"bottlederchiusbloat": 0,
					"bigfattiesratebloatslow": 0,
					"bigfattiesratebloat": 0,
					"bigfattiesratebloatfast": 0,
					"bigfattiesratebloatrapid": 0
				}
			},
			"bonuses": {
				"digestion": {
					"digesting": 4
				},
				"voreDamage": {
					"digesting": 2
				},
				"breastCapacity": {
					"lactaidoverdrive": 3
				}
			}
		},
		"regurgitateItems": {
			"clothing": [
				{"name": "string", "maxCount": 3},
				{"name": "string", "maxCount": 3},
				{"name": "string", "maxCount": 3},
				{"name": "fabric", "maxCount": 2},
				{"name": "fabric", "maxCount": 2},
				{"name": "cottonwool", "maxCount": 1}
			]
		},
		"drinkables": {
			"milk": 3,
			"slimeliquid": 3,
			"jellyliquid": 5,
			"lardliquid": 5,
			"bfchocolateliquid": 5,
			"greaseliquid": 5,
			"moontantsludgeliquid": 9,
			"bees_liquidhoney": 5,
			"bfhoneyliquid": 3,
			"bfblueberryliquid": 3,	
			"sb_tentaclejuice" : 1,
			"sb_alienjuice" : 3,
			"sb_coffee" : 3,
			"bfsodaliquid": 5
		},
		"vehicleSizeCap": {
			"modularmech": 4,
			"dropship": 4,
			"minitank": 4,
			"hoverbikekhaki": 4,
			"hoverbikered": 4,
			"hoverbikegreen": 4,
			"jeep": 4,
			"humanmech": 4,
			"apexmech": 4,
			"glitchmech": 4
		}
	},
	"sizes": [
		{
			"size": "",
			"weight": 0,
			"movementPenalty": 0,
			"healthMultiplier": 1,
			"variants": [
				"busty",
				"milky",
				"hyper",
				"saturated",
				"stuffed",
				"packed",
				"glutted",
				"filled",
				"gorged"
			],
			"thickLegs": true,
			"thickChest": true,
			"controlParameters": {},
			"statModifiers": []
		},
		{
			"size": "thick",
			"weight": 100,
			"movementPenalty": 0.1,
			"healthMultiplier": 1.1,
			"thickLegs": true,
			"thickChest": true,
			"variants": [
				"busty",
				"milky",
				"hyper",
				"stuffed",
				"packed",
				"filled",
				"gorged"
			],
			"controlParameters": {
				"standingPoly": [[-1, -1.9], [-0.4, -2.5], [0.4, -2.5], [1, -1.9], [1, -1.45], [0.75, -0.55], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65], [-0.75, -0.55], [-1, -1.45]],
				"crouchingPoly": [[-0.85, -2.0], [-0.35, -2.5], [0.35, -2.5], [0.85, -2.0], [0.75, -1], [0.35, -0.5], [-0.35, -0.5], [-0.75, -1]]
			}
		},
		{
			"size": "chubster",
			"weight": 500,
			"movementPenalty": 0.25,
			"healthMultiplier": 1.25,
			"thickLegs": true,
			"thickChest": true,
			"variants": [
				"busty",
				"milky",
				"hyper",
				"stuffed",
				"filled",
				"gorged"
			],
			"controlParameters": {
				"standingPoly": [[-1.3, -1.9], [-0.5, -2.5], [0.5, -2.5], [1.3, -1.9], [1.25, -0.95], [0.75, -0.55], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65], [-0.75, -0.55], [-1.25, -0.95]],
				"crouchingPoly": [[-1.4, -2.0], [-0.45, -2.5], [0.45, -2.5], [1.4, -2.0], [0.75, -1], [0.35, -0.5], [-0.35, -0.5], [-0.75, -1]]
			},
			"statModifiers": [
				{"stat": "maxHealth", "effectiveMultiplier": 1.5},
				{"stat": "fallDamageMultiplier", "effectiveMultiplier": 1.5}
			]
		},
		{
			"size": "plump",
			"weight": 1250,
			"movementPenalty": 0.5,
			"healthMultiplier": 1.5,
			"thickLegs": true,
			"thickChest": true,
			"variants": [
				"busty",
				"milky",
				"hyper",
				"stuffed",
				"filled",
				"gorged"
			],
			"controlParameters": {
				"standingPoly": [[-1.7, -2.0], [-1.0, -2.5], [1.0, -2.5], [1.7, -2.0], [1.6, -0.95], [0.75, -0.55], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65], [-0.75, -0.55], [-1.6, -0.85]],
				"crouchingPoly": [[-1.6, -2.0], [-0.45, -2.5], [0.45, -2.5], [1.6, -2.0], [0.75, -1], [0.35, -0.5], [-0.35, -0.5], [-0.75, -1]]
			}
		},
		{
			"size": "fatty",
			"weight": 2500,
			"movementPenalty": 0.65,
			"healthMultiplier": 2.5,
			"thickLegs": true,
			"thickChest": true,
			"variants": [
				"busty",
				"milky",
				"hyper",
				"stuffed",
				"filled",
				"gorged"
			],
			"bounce": 0.2,
			"controlParameters": {
				"standingPoly": [[-2.5, -2.0], [-1.9, -2.5], [1.9, -2.5], [2.5, -2.0], [2.5, -0.85], [1.6, -0.05], [0.75, -0.05], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65], [-0.75, -0.05], [-1.6, -0.05], [-2.5, -0.85]],
				"crouchingPoly": [[-2.5, -2.0], [-1.9, -2.5], [1.9, -2.5], [2.5, -2.0], [2.5, -1], [1.9, -0.5], [-1.9, -0.5], [-2.5, -1]]
			}
		},
		{
			"size": "blob",
			"weight": 5000,
			"movementPenalty": 0.8,
			"healthMultiplier": 5,
			"bounce": 0.35,
			"variants": [],
			"isBlob": true,
			"controlParameters": {
				"standingPoly": [[-5.3, -3.5], [-4.9, -4.0], [-1.4, -4.5], [1.4, -4.5], [4.9, -4.0], [5.3, -3.5], [4.8, -1.85], [1.6, 0.0], [0.75, 0.25], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65], [-0.75, 0.25], [-1.6, 0.0], [-4.8, -1.85]],
				"crouchingPoly": [[-5.3, -3.5], [-4.9, -4.0], [-1.4, -4.5], [1.4, -4.5], [4.9, -4.0], [5.3, -3.5], [4.8, -1.85], [1.6, 0.0], [0.75, 0.25], [-0.75, 0.25], [-1.6, 0.0], [-4.8, -1.85]],
				"maximumCorrection": 20
			}
		},
		{
			"size": "immobile",
			"weight": 7500,
			"movementPenalty": 1,
			"healthMultiplier": 10,
			"bounce": 0.35,
			"variants": [],
			"isBlob": true,
			"controlParameters": {
				"standingPoly": [[-5.3, -3.5], [-4.9, -4.0], [-1.4, -4.5], [1.4, -4.5], [4.9, -4.0], [5.3, -3.5], [4.8, -1.85], [1.6, 0.0], [0.75, 0.25], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65], [-0.75, 0.25], [-1.6, 0.0], [-4.8, -1.85]],
				"crouchingPoly": [[-5.3, -3.5], [-4.9, -4.0], [-1.4, -4.5], [1.4, -4.5], [4.9, -4.0], [5.3, -3.5], [4.8, -1.85], [1.6, 0.0], [0.75, 0.25], [-0.75, 0.25], [-1.6, 0.0], [-4.8, -1.85]],
				"maximumCorrection": 20
			}
		}
	],
	"baseData": {
		"enabled": false,
		"weight": 0,
		"stomach": 0,
		"stomachLerp": 0,
		"breasts": 0,
		"level": 0,
		"experience": 0,
		"bloat": 0,
		"pred": null,
		"entityStomach": [],
		"options": {},
		"stats": {},
		"unlockedStats": {},
		"skills": {},
		"unlockedSkills": {},
		"accessories": {}
	},
	"options": [
		{
			"name": "disableBelches",
			"pretty": "^#b8eb00;Disable Belches",
			"description": "Disable belching from bloat, drinking liquids, and vore.",
			"panel": "features"
		},
		{
			"name": "disableGurgles",
			"pretty": "^#b8eb00;Disable Gurgles",
			"description": "Disable loud gurgles that rapidly digest food.",
			"panel": "features"
		},
		{
			"name": "disableRumbles",
			"pretty": "^#b8eb00;Disable Rumbles",
			"description": "Disable quiet rumbles from having food in your stomach.",
			"panel": "features"
		},
		{
			"name": "disableDrinking",
			"pretty": "^#5d50e5;Disable Drinking",
			"description": "Disable drinking of liquids at mouth level.",
			"panel": "features"
		},
		{
			"name": "disableLoss",
			"pretty": "^#1a87ed;Disable Weight Loss",
			"description": "Prevents you from losing weight.",
			"panel": "features"
		},
		{
			"name": "disableGain",
			"pretty": "^#1a87ed;Disable Weight Gain",
			"description": "Prevents you from gaining weight.",
			"panel": "features"
		},
		{
			"name": "disableHitbox",
			"pretty": "^#1a87ed;Disable Hitbox",
			"description": "Disables the hitbox changes when gaining weight (Excluding blob).",
			"panel": "features"
		},
		{
			"name": "disableGroundDamage",
			"pretty": "^#1a87ed;Disable Ground Damage",
			"description": "Prevents you from damaging tiles when taking fall damage.",
			"panel": "features"
		},
		{
			"name": "disableBlob",
			"pretty": "^#1a87ed;Disable Blob",
			"description": "Prevents you from reaching the blob and immobile weight stages.",
			"panel": "features"
		},
		{
			"name": "disableBlobHitbox",
			"pretty": "^#1a87ed;Disable Blob Hitbox",
			"description": "Disables the solid blob hitbox and platform.",
			"panel": "features"
		},
		{
			"name": "disablePrey",
			"pretty": "^#b3122d;Disable Prey",
			"description": "Prevents you from being eaten.",
			"panel": "features"
		},
		{
			"name": "disablePreyDigestion",
			"pretty": "^#b3122d;Disable Prey Digestion",
			"description": "Prevents you from losing health while eaten.",
			"panel": "features"
		},
		{
			"name": "disablePredDigestion",
			"pretty": "^#b3122d;Disable Pred Digestion",
			"description": "Prevents you from digesting eaten entities.",
			"panel": "features"
		},
		{
			"name": "topHeavy",
			"pretty": "^#1a87ed;Top Heavy",
			"description": "Increases your chest size by 1 stage.",
			"group": "bodyType",
			"panel": "body"
		},
		{
			"name": "extraTopHeavy",
			"pretty": "^#1a87ed;Top Heavy ++",
			"description": "Increases your chest size by 2 stages.",
			"group": "bodyType",
			"panel": "body"
		},
		{
			"name": "bottomHeavy",
			"pretty": "^#1a87ed;Bottom Heavy",
			"description": "Increases your leg size by 1 stage.",
			"group": "bodyType",
			"panel": "body"
		},
		{
			"name": "extraBottomHeavy",
			"pretty": "^#1a87ed;Bottom Heavy ++",
			"description": "Increases your leg size by 2 stages.",
			"group": "bodyType",
			"panel": "body"
		},
		{
			"name": "stuffed",
			"pretty": "^#f96aa6;Stuffed Stomach",
			"description": "Your stomach is always slightly full.",
			"group": "bodyVariant",
			"panel": "body"
		},
		{
			"name": "filled",
			"pretty": "^#f96aa6;Filled Stomach",
			"description": "Your stomach is always very full.",
			"group": "bodyVariant",
			"panel": "body"
		},
		{
			"name": "gorged",
			"pretty": "^#f96aa6;Gorged Stomach",
			"description": "Your stomach is always extremely full.",
			"group": "bodyVariant",
			"panel": "body"
		},
		{
			"name": "busty",
			"pretty": "^#31c3f7;Busty Chest",
			"description": "Increases your bust size.",
			"group": "bodyVariant",
			"panel": "body"
		},
		{
			"name": "milky",
			"pretty": "^#31c3f7;Milky Chest",
			"description": "Increases your bust size significantly.",
			"group": "bodyVariant",
			"panel": "body"
		},
		{
			"name": "hyper",
			"pretty": "^#31c3f7;Hyper Chest",
			"description": "Increases your bust size significantly, and hides your stomach.",
			"group": "bodyVariant",
			"panel": "body"
		}
	],
	"skills": {
		"digestion": {
			"pretty": "Digestion",
			"description": "Increases the potency of your stomach acid, allowing you to digest food quicker.",
			"isStat": true,
			"connect": [["absorption", "health", "movement", "capacity"], [[153, 99, 99, 255], [166, 113, 113, 255]]],
			"position": [0, -2],
			"colour": "b8eb00",
			"cost": {"base": 1, "increase": 1}
		},
		"absorption": {
			"pretty": "Absorption",
			"description": "Improves the rendering of fat from food, letting you pack on more pounds with less meals.",
			"isStat": true,
			"connect": [["health", "movement", "capacity"], [[153, 99, 99, 255], [166, 113, 113, 255]]],
			"position": [-1.9, -0.7],
			"colour": "00ebce",
			"cost": {"base": 1, "increase": 1}
		},
		"health": {
			"pretty": "Health",
			"description": "Increases the resistance of your pudge, letting you take more punishment at higher weights.",
			"isStat": true,
			"connect": [["movement", "capacity"], [[153, 99, 99, 255], [166, 113, 113, 255]]],
			"position": [1.9, -0.7],
			"colour": "cf1b1b",
			"cost": {"base": 1, "increase": 1}
		},
		"movement": {
			"pretty": "Movement",
			"description": "Toughens your musculature, reducing the burden weight has on your movement.",
			"isStat": true,
			"connect": [["capacity"], [[153, 99, 99, 255], [166, 113, 113, 255]]],
			"position": [-1.2, 1.6],
			"colour": "1a87ed",
			"cost": {"base": 1, "increase": 1}
		},
		"capacity": {
			"pretty": "Capacity",
			"description": "Enhances the elasticity of your stomach, letting you pack in more snacks before getting full.",
			"isStat": true,
			"position": [1.2, 1.6],
			"colour": "f96aa6",
			"cost": {"base": 1, "increase": 1}
		},
		"digestionEnergy": {
			"pretty": "Acidic Alternator",
			"description": "Gives your gastric juices catalytic properties, extracting energy from digested food.",
			"levels": 1,
			"position": [0, -4],
			"connect": [["digestion"]],
			"requirements": {
				"digestion": 5
			},
			"colour": "b8eb00",
			"cost": {"base": 10, "increase": 0}
		},
		"gurgleRate": {
			"pretty": "Gurgly Gut",
			"description": "Increases the activity of your stomach muscles, causing rapid digestion of food every few moments.",
			"isStat": true,
			"position": [1.5, -3],
			"connect": [["digestion"]],
			"requirements": {
				"digestion": 3
			},
			"colour": "b8eb00",
			"cost": {"base": 2, "increase": 2}
		},
		"gurgleAmount": {
			"pretty": "Rough Rumbles",
			"description": "Amplifies the force of your stomach gurgles, causing them to digest even more food.",
			"isStat": true,
			"position": [1.5, -5],
			"connect": [["gurgleRate"]],
			"requirements": {
				"gurgleRate": 3,
				"digestion": 5
			},
			"colour": "b8eb00",
			"cost": {"base": 5, "increase": 5}
		},
		"bloatDigestion": {
			"pretty": "Bloat Buster",
			"description": "Improves isolation of food from bloat, quickening the rate which you're able to lose it.",
			"isStat": true,
			"position": [-1.5, -3],
			"connect": [["digestion"]],
			"requirements": {
				"digestion": 5
			},
			"colour": "5d50e5",
			"cost": {"base": 2, "increase": 2}
		},
		"bloatReduction": {
			"pretty": "Chyme Condenser",
			"description": "Compresses the contents within your stomach, reducing the amount of bloating you recieve.",
			"isStat": true,
			"position": [-1.5, -5],
			"connect": [["bloatDigestion"]],
			"requirements": {
				"bloatDigestion": 5,
				"digestion": 10
			},
			"colour": "5d50e5",
			"cost": {"base": 5, "increase": 5}
		},
		"healing": {
			"pretty": "Analeptic Adipose",
			"description": "Refine more nutrients from food you eat, healing your wounds while you digest.",
			"isStat": true,
			"position": [4, -0.7],
			"connect": [["health"]],
			"requirements": {
				"health": 5
			},
			"colour": "cf1b1b",
			"cost": {"base": 4, "increase": 4}
		},
		"metabolismReduction": {
			"pretty": "Metabolic Minimizer",
			"description": "Slow down your metabolism, causing you to lose weight at a slower pace.",
			"isStat": true,
			"position": [-3, 1],
			"connect": [["absorption"]],
			"requirements": {
				"absorption": 5
			},
			"colour": "1a87ed",
			"cost": {"base": 3, "increase": 3}
		},
		"fallDamageReduction": {
			"pretty": "Doughy Descent",
			"description": "Enhances the absorptive properties of your fat, reducing damage from falling.",
			"isStat": true,
			"position": [-3, 3],
			"connect": [["movement"]],
			"requirements": {
				"movement": 5
			},
			"colour": "009ceb",
			"cost": {"base": 4, "increase": 4}
		},
		"bounce": {
			"pretty": "Bouncy Blubber",
			"description": "Further enhances absorptive properties, causing you to bounce at very high weight.",
			"position": [-5, 3],
			"levels": 1,
			"connect": [["fallDamageReduction"]],
			"requirements": {
				"fallDamageReduction": 5,
				"movement": 10
			},
			"colour": "009ceb",
			"cost": {"base": 20, "increase": 0}
		},
		"voreCritter": {
			"pretty": "Wildlife Containment",
			"description": "Add small animals to the menu.\n\nSurely they won't mind. This is more natural, right?",
			"levels": 1,
			"position": [3, 3],
			"connect": [["capacity"]],
			"requirements": {
				"capacity": 1
			},
			"colour": "b3122d",
			"widget": {
				"id": "voreTool", "type": "iconButton", "size": [24, 25],
			 	"image": "voreTool.png",
			 	"hoverImage": "voreTool.png",
			 	"pressImage": "voreTool.png?border=1;00000000;00000000?crop=1;2;25;27",
				"toolTip": "Click me to spawn the ^#e45151;Vore Tool^reset;!"
			},
			"cost": {"base": 5, "increase": 0}
		},
		"voreMonster": {
			"pretty": "Monster Containment",
			"description": "Add larger creatures and monsters to the menu.\n\nSo you don't have to do the dishes^#ffffff88;...right?",
			"levels": 1,
			"position": [5, 3],
			"connect": [["voreCritter"]],
			"requirements": {
				"voreCritter": 1,
				"capacity": 3
			},
			"colour": "b3122d",
			"widget": {
				"id": "voreTool", "type": "iconButton", "size": [24, 25],
			 	"image": "voreTool.png",
			 	"hoverImage": "voreTool.png",
			 	"pressImage": "voreTool.png?border=1;00000000;00000000?crop=1;2;25;27",
				"toolTip": "Click me to spawn the ^#e45151;Vore Tool^reset;!"
			},
			"cost": {"base": 10, "increase": 0}
		},
		"voreHumanoid": {
			"pretty": "Humanoid Containment",
			"description": "Add people to the menu.\n\nNo point leaving perfectly good calories behind.\n^shadow;^#ffffff44;...Right?",
			"levels": 1,
			"position": [7, 3],
			"connect": [["voreMonster"]],
			"requirements": {
				"voreMonster": 1,
				"capacity": 5
			},
			"colour": "b3122d",
			"widget": {
				"id": "voreTool", "type": "iconButton", "size": [24, 25],
			 	"image": "voreTool.png",
			 	"hoverImage": "voreTool.png",
			 	"pressImage": "voreTool.png?border=1;00000000;00000000?crop=1;2;25;27",
				"toolTip": "Click me to spawn the ^#e45151;Vore Tool^reset;!"
			},
			"cost": {"base": 20, "increase": 0}
		},
		"struggleResistance": {
			"pretty": "Constricting Chasm",
			"description": "Your stomach grips down tighter on prey, preventing them from struggling as effectively.",
			"isStat": true,
			"position": [4, 4.5],
			"connect": [["voreCritter"]],
			"requirements": {
				"voreCritter": 1
			},
			"colour": "5d50e5",
			"cost": {"base": 5, "increase": 5}
		},
		"voreDamage": {
			"pretty": "Caustic Churning",
			"description": "Increases virulence of your gastric juices, letting you digest enemies down into food faster.",
			"isStat": true,
			"position": [6, 4.5],
			"connect": [["voreMonster"]],
			"requirements": {
				"voreMonster": 1
			},
			"colour": "b8eb00",
			"cost": {"base": 4, "increase": 4}
		},
		"regurgitateChance": {
			"pretty": "Gluttonous Glamour",
			"description": "Increases the chance that you'll belch up clothing, or at least what remains of it.",
			"isStat": true,
			"position": [8, 4.5],
			"connect": [["voreHumanoid"]],
			"requirements": {
				"voreHumanoid": 1
			},
			"colour": "b8eb00",
			"cost": {"base": 5, "increase": 5}
		},
		"ironStomach": {
			"pretty": "Iron Stomach",
			"description": "Increased enzymatic variety grants you immunity to food poisoning.",
			"levels": 1,
			"position": [3, -2.4],
			"connect": [["health"]],
			"requirements": {
				"health": 5
			},
			"colour": "d6d8da",
			"cost": {"base": 10, "increase": 0}
		},
		"tungstenStomach": {
			"pretty": "Tungsten Stomach",
			"description": "Further enzymatic variety grants you immunity to poison-based status effects.\n\nDoes not protect you against ^#a4fc4c;Deadly Radiation^reset;.",
			"levels": 1,
			"position": [5, -2.4],
			"connect": [["ironStomach"]],
			"requirements": {
				"ironStomach": 1,
				"health": 10
			},
			"colour": "d6d8da",
			"cost": {"base": 20, "increase": 0}
		},
		"firePenalty": {
			"pretty": "Flameproof Flab",
			"description": "Insulate your pudge against fire-based attacks, reducing the energy required to cool down.",
			"isStat": true,
			"position": [3, 1],
			"connect": [["health"]],
			"requirements": {
				"health": 3
			},
			"colour": "fa9025",
			"cost": {"base": 10, "increase": 5}
		},
		"iceResistance": {
			"pretty": "Heated Heft",
			"description": "Heightened thermogenesis protects you against ice-based attacks.",
			"isStat": true,
			"position": [5, 1],
			"connect": [["health"]],
			"requirements": {
				"health": 5
			},
			"colour": "fa9025",
			"cost": {"base": 10, "increase": 5}
		},
		"iceImmunity": {
			"pretty": "Pudgy Padding",
			"description": "Adaptive thermogenesis grants you immunity to ice-based status effects.\n\nMust be Chubster or above.\nDoes not protect you against ^#4bf3fd;Deadly Chill^reset;.",
			"levels": 1,
			"position": [7, 1],
			"connect": [["iceResistance"]],
			"requirements": {
				"iceResistance": 3,
				"health": 10
			},
			"colour": "fa9025",
			"cost": {"base": 20, "increase": 0}
		},
		"preventStarving": {
			"pretty": "Fatty Fasting",
			"description": "Rapidly metabolise gained fat when you are out of food, preventing you from starving.",
			"levels": 1,
			"position": [-4, -0.7],
			"connect": [["absorption"]],
			"requirements": {
				"absorption": 3
			},
			"colour": "00ebce",
			"cost": {"base": 10, "increase": 0}
		},
		"strainedThreshhold": {
			"pretty": "Corpulent Confiner",
			"description": "Thickens your stomach lining, allowing you to exceed your capacity further without penalty.",
			"isStat": true,
			"position": [1, 4],
			"connect": [["capacity"]],
			"requirements": {
				"capacity": 5
			},
			"colour": "f96aa6",
			"cost": {"base": 5, "increase": 5}
		},
		"strainedResistance": {
			"pretty": "Ingested Inertia",
			"description": "Tightens your stomach while moving, reducing energy expenditure while signficantly over capacity.",
			"isStat": true,
			"position": [-1, 4],
			"connect": [["movement"]],
			"requirements": {
				"movement": 5
			},
			"colour": "1a87ed",
			"cost": {"base": 3, "increase": 3}
		},
		"breastProduction": {
			"pretty": "Dairy Development",
			"description": "Convert a portion of absorbed food into milk.",
			"isStat": true,
			"position": [-3, -2.4],
			"connect": [["absorption"]],
			"requirements": {
				"absorption": 5
			},
			"colour": "31c3f7",
			"widget": {
				"id": "lactate", "type": "iconButton", "size": [24, 25],
			 	"image": "lactate.png",
			 	"hoverImage": "lactate.png",
			 	"pressImage": "lactate.png?border=1;00000000;00000000?crop=1;2;25;27",
				"toolTip": "Click me to lactate!"
			},
			"cost": {"base": 5, "increase": 5}
		},
		"breastCapacity": {
			"pretty": "Mammary Magnitude",
			"description": "Increase how large your breasts can swell with milk.",
			"isStat": true,
			"position": [-5, -2.4],
			"connect": [["breastProduction"]],
			"requirements": {
				"breastProduction": 1,
				"absorption": 10
			},
			"colour": "31c3f7",
			"widget": {
				"id": "lactate", "type": "iconButton", "size": [24, 25],
			 	"image": "lactate.png",
			 	"hoverImage": "lactate.png",
			 	"pressImage": "lactate.png?border=1;00000000;00000000?crop=1;2;25;27",
				"toolTip": "Click me to lactate!"
			},
			"cost": {"base": 5, "increase": 5}
		},
		"secret": {
			"pretty": "Tim Allen Grunt",
			"description": "Embrace the spirit of Tim Taylor, a TV show host raising three mischievous boys with help from his loyal co-host, domineering wife, and genius neighbor.",
			"levels": 1,
			"position": [-8.5, 5.5],
			"colour": "00000000",
			"hidden": true,
			"hiddenIcon": "secretIcon",
			"cost": {"base": 0, "increase": 0}
		}
	}
}
