{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/interface/scripted/unfitbit/header.png",
			"fileBody": "/interface/scripted/unfitbit/body.png",
			"fileFooter": "/interface/scripted/unfitbit/footer.png"
		},
		"windowtitle": {
			"type": "title",
			"title": "UnFitbit",
			"subtitle": "Track your fat",
			"icon": {
				"type": "image",
				"zlevel": -1,
				"file": "/interface/scripted/unfitbit/icon.png"
			}
		},
		"lblDescription": {
			"type": "label",
			"position": [52, 31],
			"hAnchor": "mid",
			"vAnchor": "bottom",
			"value": ""
		},
		"contextLabel": {
			"type": "label",
			"position": [52, 105],
			"hAnchor": "mid",
			"vAnchor": "top",
			"value": "TRACKERS"
		},
		"fromWeight": {
			"type": "image",
			"zlevel": 1,
			"file": "/interface/scripted/unfitbit/sizes/bigfatties.png",
			"position": [3, 77]
		},
		"toWeight": {
			"type": "image",
			"zlevel": 1,
			"file": "/interface/scripted/unfitbit/sizes/bigfatties.png",
			"position": [85, 77]
		},
		"progressBar": {
			"type": "progress",
			"zlevel": 2,
			"position": [27, 81],
			"size": [50, 8],
			"progressSet": {
				"inner": "/interface/scripted/unfitbit/progressbar.png",
				"type": "repeat"
			},
			"direction": "horizontal"
		},
		"progressBarBack": {
			"type": "image",
			"zlevel": 1,
			"file": "/interface/scripted/unfitbit/progressbaroverlay.png",
			"position": [22, 76]
		},
		"stomach": {
			"type": "image",
			"zlevel": 1,
			"file": "/interface/scripted/unfitbit/stomach.png",
			"position": [3, 57]
		},
		"stomachFull": {
			"type": "image",
			"zlevel": 1,
			"file": "/interface/scripted/unfitbit/stomachfull.png",
			"position": [85, 57]
		},
		"stomachBar": {
			"type": "progress",
			"zlevel": 2,
			"position": [27, 61],
			"size": [50, 8],
			"progressSet": {
				"inner": "/interface/scripted/unfitbit/stomachbar.png",
				"type": "repeat"
			},
			"direction": "horizontal"
		},
		"stomachBarFull": {
			"type": "progress",
			"zlevel": 3,
			"position": [27, 61],
			"size": [50, 8],
			"progressSet": {
				"inner": "/interface/scripted/unfitbit/stomachbarfull.png",
				"type": "repeat"
			},
			"direction": "horizontal"
		},
		"stomachBarBack": {
			"type": "image",
			"zlevel": 1,
			"file": "/interface/scripted/unfitbit/stomachbaroverlay.png",
			"position": [22, 56]
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"pressedOffset": [0, 0],
			"position": [89, 114]
		}
	},

	"scriptWidgetCallbacks": [
		"none"
	],

	"scripts": ["/interface/scripted/unfitbit/unfitbit.lua"],
	"scriptDelta": 1
}
